# Prismic repository name (e.g. your-repo-name)
NEXT_PUBLIC_PRISMIC_ENVIRONMENT=

# Server-only Prismic access token (do not use NEXT_PUBLIC_ for this)
PRISMIC_ACCESS_TOKEN=

# Server-only Prismic write access token (do not use NEXT_PUBLIC_ for this)
PRISMIC_WRITE_TOKEN=